<div class="col-md-6 m-auto">
    <br>
    <div class="card card-body text-center">
      <h1><i class="fab fa-node-js fa-3x"></i></h1>
      <p>ادارة التربيةالعسكرية</p>
      <form action="/users/toggle" method="post">
        <label for="stdId">ID:</label>
        <input type="number" id="stdId" name="stdId">
        <input type="submit">
      </form>
      
    </div>
    </div>
  </div>