<form action="/users/getstudent" method="post">
  <div class="form-group mb-2">
    <label for="number" class="mb-2">Student ID</label>
    <input
      type="number"
      id="stdId"
      name="stdId"
      class="form-control"
      placeholder="Please Enter your ID"
    />
  </div>
  <button type="submit" class="btn btn-primary btn-block">Search</button>
</form>
